################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/IdentityManagement/bin/Debug
/IdentityManagement/bin/Release
/.vs/PATSWebV2/v15
/PatsReportLibrary/obj
/PatsReportLibrary/obj/Debug
/PATSWebV2/bin
/PATSWebV2/obj/Debug
/PATSWebV2/Properties/PublishProfiles
/.vs/PATSWebV2/v14
