@media screen and (min-width: 1200px) {
    body {
        padding: 0px;
        margin: 0px;
        width: 100vw;
        height:100vh;
        overflow: hidden;
    }
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 0px;
    padding-right: 0px;
    padding-top:105px;
    padding-bottom:0px;
    position:absolute;
    width:100vw;
    height:85vh;
    min-width:1200px;
    overflow:hidden;
    flex-direction: row;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    color:black;
}
input,
select,
textarea > placeholder {
    text-decoration-color:silver;
}
div.table { display: table; box-sizing: border-box; background-color: transparent;padding:0px; }
div.row { display: table-row; box-sizing: inherit;padding : 0px;}
table td, tr
{
	border: none;
    padding:0px;
}
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td 
{
	border-top: 0;
    padding:0px;
}
#logoutButton {
    width: 30px;
    height: 30px;
    background: url('Images/gnome_session_logout.png') no-repeat center white;
}
#logoutButton:hover {
    background-color: #4CAF50;
    color: white;
}
input[type=password]::-ms-reveal,
input[type=password]::-ms-clear
{
    display: none;
}
