@using Kendo.Mvc.UI
@model PATSWebV2.ViewModels.Client.ClientViewModel
<style>
        .k-tabstrip-items{
            padding:0px;
        }
    .k-tabstrip-items .k-item {
        height: 25px;
        font-size: 13px;
        font-weight: bolder;
        background-color: #ADD8E6;
    }
        
    .k-tabstrip .k-content.k-state-active {
        padding: 0px;
        background-color: #ADD8E6 !important;
    }
    
    #clienttabstrip {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100vh; /* DO NOT USE !important for setting the Grid height!*/
    }  
    .ui-dialog-titlebar{
    background-color:#ADD8E6;
}   
    </style>
    <script>
        function tabChanged(e) {
            WaitDialog(1);
           if (e.item.textContent == "Back to dashboard") {
                url = '@Url.Action("GetEditingPaneBack", "Client")';
               fndata = { EpisodeID: $("#AllSelectedOffenderEpisodeResult").val() };
               LoadSelectedTab(url, fndata, "#editingpane");
                //LoadSelectedTab(url, fndata, "#viewPlaceHolder");
            }
            else
               reloadTab(e);
            WaitDialog(0);
        }
        function reloadTab(e) {
            $('#clienttabstrip').data('kendoTabStrip').reload(e.item);
        }
    </script>
<div id="clientprofiletabs" class="k-content">
    @Html.HiddenFor(m=>m.ActiveTab, new { id = "hdAactiveTab"} )
    @(Html.Kendo().TabStrip()
         .Name("clienttabstrip")
         .Events(e => { e.Select("tabChanged");
         })
         .HtmlAttributes(new { style = "padding:0; height:auto;width:98vw;background-color:#ADD8E6;" })
         .Animation(animation =>
             animation.Open(effect =>
                 effect.Fade(FadeDirection.In)))
      .Items(tabstrip =>
      {
          tabstrip.Add().Text("CLIENT PROFILE")
           .LoadContentFrom("GetClientProfile", "Client", new
           {
               EpisodeID = Model.EpisodeID,
               PID = 0,
               CDCRNum = string.Empty,
               NewEpisode = Model.NewEpisode
           });
          tabstrip.Add().Text("ADDRESS & PHONE#S")
                  .LoadContentFrom("GetAddress", "Client", new { EpisodeID = Model.EpisodeID, FromCMRequested = false });
          tabstrip.Add().Text("CLIENT ALERTS")
                  .LoadContentFrom("GetAlerts", "Client", new { EpisodeID = Model.EpisodeID });
          tabstrip.Add().Text("HEALTH CARE BENEFITS")
                  .LoadContentFrom("GetClientHealthCareBenefits", "Client", new { EpisodeID = Model.EpisodeID });
          tabstrip.Add().Text("CLIENT ALL NOTES")
                  .LoadContentFrom("GetCaseNotes", "Client", new { EpisodeID = Model.EpisodeID, viewName= "_AllNote" });
          tabstrip.Add().Text("CLIENT FILE UPLOAD")
                  .LoadContentFrom("GetFileUpload", "Client", new { EpisodeID = Model.EpisodeID }); ;
          tabstrip.Add().Text("Back to dashboard").HtmlAttributes(new { style = "float:right;" }); ;
      }
    ))
</div>
  <script type="text/javascript">
      $(document).ready(function () {
         var tabidx = 0;
          switch ($("#hdAactiveTab").val())
          {
              case "clientprofile" : { tabidx= 1; break;}
              case "address" : { tabidx= 2; break;}
              case "clientalerts" : { tabidx= 3; break;}
              case "healthcare" : { tabidx= 4; break;}
              case "allnotes" : { tabidx= 5; break;}
              case "clientFileUpload" : { tabidx= 6; break;}
              case "clientprofile" : { tabidx= 7; break;}
          }
          $("#clienttabstrip").kendoTabStrip().data("kendoTabStrip").activateTab($("#clienttabstrip-" + tabidx.toString()));
          $('#clienttabstrip').getKendoTabStrip().select(tabidx-1);
      });
    
</script>
