@model PATSWebV2.ViewModels.Client.EditingPaneViewModel
<style>
    .k-grid-header th.k-header > .k-link {
        line-height: 12px !important;
        min-height: 12px !important;
        font-weight:bolder;
    }
</style>
<div class="space5"></div>
@if (Model.CaseAssignSmy != null)
{
    @*<div style="background-color:#D9EDD1;padding:1px;overflow-x:auto;width:99%">*@
        @(Html.Kendo().Grid<IdentityManagement.Entities.CaseAssignSmy>().Name("gridAssignSummary")
            .NoRecords("No Data found.")
            .HtmlAttributes( new { Style= "background-color:#D9EDD1;margin-left:5px;width:97%;white-space : nowrap;" })
           .Columns(column =>
           {
               column.Bound(m => m.DateEnrolled).Title("Date").Width(65);
               //column.Bound(m => m.CaseManager).Title("Case Mgr.").HtmlAttributes(new { style = "white-space: normal;" });
               column.Bound(m => m.SocialWorker).Title("Social Wkr.").HtmlAttributes(new { style = "white-space: normal;" });
               column.Bound(m => m.Psychiatrist).Title("Psychiatry").HtmlAttributes(new { style = "white-space: normal;" });
               column.Bound(m => m.Psychologist).Title("Psychology").HtmlAttributes(new { style = "white-space: normal;" });
           }).BindTo(Model.CaseAssignSmy))
    @*</div>*@
}
else {
        <div style = "text-align:center;color:orange; vertical-align:central;" ><b><i>No Assignment Found.</i></b></div>
    }

