@model PATSWebV2.ViewModels.Client.EditingPaneViewModel
<div class="space5"></div>
@if (Model.AllSmy.Where(x => x.ClientSmy == "DocSmy").FirstOrDefault() != null)
{
@(Html.Kendo().Grid<IdentityManagement.Entities.SummaryCollection>().Name("gridLGDSummary")
        .NoRecords("No Data found.")
        .HtmlAttributes(new { style = "background-color:#D9EDD1;margin-left:5px;width:97%;white-space : nowrap;" })
       .Columns(column =>
       {
           column.Bound(m => m.DateType).Title("Date Type").Width(120);
           column.Bound(m => m.DateEnrolled).Title("Date");
           //column.Template(c => "<a href='/Prescription/PrintPrescription?EpisodeId=" + Model.EpisodeID + "&PrescriptionId=" + c.Id + "&PsychiatristId=" + Convert.ToInt32(c.DateType) + "'>Print</a>").Title("Rx.").Width(50);
       }).BindTo(Model.AllSmy.Where(x => x.ClientSmy == "DocSmy")))
}
else {
    <div style="text-align:center;color:orange; vertical-align:central;"><b><i>No Document Found.</i></b></div>
}

@{
    var data = Model.AllSmy.Where(x => x.ClientSmy == "OtherDocDesc").FirstOrDefault();
    var dataDOC = string.Empty;
    var displayDOC = string.Empty;
    if (data != null)
    {
        dataDOC = data.smydesc;

    }
    else
    {
        displayDOC = "none";
    }
}
<div style="display : @displayDOC"> @Html.Label("Other Document: " + @dataDOC, new { style = "font-size:12px;margin-left:10px;height:12px" })</div>


