@model PATSWebV2.ViewModels.SocialWork.SocialWorkViewModel
<style>
    .k-tabstrip-items{
            padding:0px;
        }
    .k-tabstrip-items .k-item {
        height: 25px;
        font-size: 13px;
        font-weight: bolder;
        background-color: #F0D9D9;
    }
       .k-tabstrip .k-content.k-state-active {
        padding: 0px;
        background-color: #F0D9D9 !important;
        position: sticky;
    }

    #swTabstrip {
        margin: 0;
        padding: 0;
        border-width: 0;
        height: 100vh; /* DO NOT USE !important for setting the Grid height!*/
        position: sticky;
    } 
    .ui-dialog-titlebar{
    background-color:#F0D9D9;
}       
</style>
@*<div id="socialWorktabs" class="k-content">*@
    @Html.HiddenFor(m=>m.ActiveTabIn, new { @id="hdActiveSWTab" })
    @Html.HiddenFor(m => m.EpisodeId)
    <script>
        //function TextAreaClick(e) { TextarePopup(e, edit, "color-danger"); }
        //function TextArearKeyUp(e) {
        //    if (e.keyCode == '13' && e.ctrlKey) {
        //        TextarePopup(e, edit, "color-danger");
        //    }
        //}
        function swTabChanged(e) {
            WaitDialog(1);
           if (e.item.textContent == "Back to dashboard") {
                url = '@Url.Action("GetEditingPaneBack", "Client")';
                fndata = { EpisodeID: $("#AllSelectedOffenderEpisodeResult").val() };
               //LoadSelectedTab(url, fndata, "#viewPlaceHolder");
                LoadSelectedTab(url, fndata, "#editingpane");
            }
            else
                reloadTab(e);

            WaitDialog(0);
        }
        function reloadTab(e) {
            $('#swTabstrip').data('kendoTabStrip').reload(e.item);
        }
    </script>
    <div id="socialWorktabs" class="k-content">
       @(Html.Kendo().TabStrip()
         .Name("swTabstrip")
         .Events(e =>
         {
             e.Select("swTabChanged");
         })
         .HtmlAttributes(new { style = "padding:0; height:auto;width:98vw;background-color:#F0D9D9;" })
         .Animation(animation =>
             animation.Open(effect =>
                 effect.Fade(FadeDirection.In)))
      .Items(tabstrip =>
      {
          tabstrip.Add().Text("RE-ENTRY INITIAL")
           .LoadContentFrom("GetReEntryIMHS", "Client", new
           {
               EpisodeID = Model.EpisodeId,
               CaseReEntryIMHSID = 0
           });
          tabstrip.Add().Text("IDTT")
                 .LoadContentFrom("GetClinicalIDTT", "Client", new { EpisodeId = Model.EpisodeId, IDTTId = 0 });
          tabstrip.Add().Text("IRP")
                  .LoadContentFrom("GetIRP", "Client", new { EpisodeId = Model.EpisodeId, IRPID = 0 });
          tabstrip.Add().Text("DSM-5")
                  .LoadContentFrom("GetClinicalDSM5", "Client", new { EpisodeId = Model.EpisodeId, DSM5ID = 0 });
          tabstrip.Add().Text("MCAS-R")
                  .LoadContentFrom("GetMCASR", "Client", new { EpisodeId = Model.EpisodeId, MCASRID=0 });
          tabstrip.Add().Text("PROFILE")
                  .LoadContentFrom("GetPMHProfile", "Client", new { EpisodeID = Model.EpisodeId });
          tabstrip.Add().Text("(PMHS) PLACEMENT AND CHANGE")
                  .LoadContentFrom("GetClinicalPMHSPC", "Client", new { EpisodeId = Model.EpisodeId }).Enabled(Model.HasIDTT);
          tabstrip.Add().Text("(PMHS) REMOVAL")
                  .LoadContentFrom("GetClinicalPMHSR", "Client", new { EpisodeID = Model.EpisodeId }).Enabled(Model.HasIDTT);
          tabstrip.Add().Text("NOTE")
                  .LoadContentFrom("GetCaseNotes", "Client", new { EpisodeID = Model.EpisodeId, ActionModel = "Clinic" });
          tabstrip.Add().Text("Back to dashboard").HtmlAttributes(new { style = "float:right;" });
      }
    ))
    </div>
    <script type="text/javascript">
        
        $(document).ready(function () {
            var tabidex = 0;
            switch ($("#hdActiveSWTab").val())
            {
                case "ReEntry": { tabidex = 1; break; }
                case "IDTT": { tabidex = 2; break; }
                case "IRP": { tabidex = 3; break; }
                case "DSM5": { tabidex = 4; break; }
                case "Multnomah": { tabidex = 5; break; }
                //case "Assessment": { tabidex = 6; break; }
                case "PMHSProfile": { tabidex = 6; break; }
                case "PMHSPC": { tabidex = 7; break; }
                case "PMHSR": { tabidex = 8; break; }
                case "clinicalNote": { tabidex = 9; break; }
            }
            $("#swTabstrip").kendoTabStrip().data("kendoTabStrip").activateTab($("#swTabstrip-" + tabidex.toString()));
            $('#swTabstrip').getKendoTabStrip().select(tabidex -1);
      });
    </script>

  