@{
    Layout = "~/Views/Shared/_LayoutClient.cshtml";
    ViewBag.Title = "Client Profile";
}
@using PATSWebV2.DataAccess

@section Scripts {
    <script>
        var SEARCH_LIMIT = @PatsConstants.EditOffenderSearchLimit;
    </script>
}
<div id="outerframe" class="patsbody">
    @section HeaderSection{
        <style>
            .k-i-arrow-60-down, .k-i-calendar {
                margin-top: 5px;
            }
             .k-pager-wrap > .k-link > .k-icon{
                        margin-top:5px;
                    } 
        </style>
    <div class="patsheader1">@{ Html.RenderPartial("_HeaderForPats", new PATSWebV2.ViewModels.Client.PersonSearchViewModel { SelectedParentResult = -1 }); }</div>
    }
    @section ContentBody{
        @Html.AntiForgeryToken()
        <div id="editingpane"/>
    }
    @section FooterSection{
        <div class="patsfooter">@Html.Partial("_Footer")</div>
    }
</div>
