@using PATSWebV2.DataAccess

<div style="padding:6px;background-color: silver;height:18px;">
    <center>
        <label style="font-size:14px;height:18px;color: darkcyan;width:100vw;text-align:center;"><B>@PatsConstants.ProductionAbout</B></label>
    </center>
</div>
