@using PATSWebV2.DataAccess

<link href="~/Content/Styles/Style.css" rel="stylesheet" />
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal navbar-bass">
        <table>
            <tr>
                <td class="col-xs-2"><div style="width:150px"><center style="margin-top:5px;color:#004000;font-size:x-small;text-shadow: 1px 1px 2px #DAA520"><i><strong>California</strong></i></center><center style="color:#004000;font-size:x-small;text-shadow:1px 1px 2px #DAA520"><strong>Department <i>of</i> Corrections</strong></center><center style="margin-bottom:15px;color:#004000;font-size:x-small; text-shadow:1px 1px 2px #DAA520"><strong><i>and</i> Rehabilitation</strong></center></div></td>
                <td class="col-xs-1"><img id="logo" alt="logo" title="cdcr-logo" src="~/Content/Images/cdcr-masthead-logo.png" height="70" style="float:left" /></td>
                <td class="col-lg-12">
                    <left><h4 style="color:@PatsConstants.BkgColor;font-size:x-large; font-weight:bold;text-shadow: -1px -1px 0 #fff, 1px 1px 0 #ccc">Welcome to PATS Web @PatsConstants.Environment<span class="navbar-text"></span></h4></left>
                </td>
            </tr>
        </table>
    </div>
}