<?xml version="1.0" encoding="utf-8" ?>
<configuration>  
  <configSections>
  </configSections>
  <connectionStrings>
      <add name="Telerik.Reporting.Pats.Reports.Properties.Settings.PatsWebReport"
          connectionString="Data Source=FDCDBA11\BASS;Initial Catalog=PatsWebV2Test;Integrated Security=True;Persist Security Info=True;MultipleActiveResultSets=True;Connect Timeout=90"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>