
@{
    //ViewBag.Title = "ApptIndex";
    Layout = "~/Views/Shared/_LayoutNoSearchHeader.cshtml";
}
<style>
    .apptitem1 {
        flex-basis: 75px;
    }

    .apptitem2 {
        flex-basis: auto;
        overflow: auto;
    }

    .apptitem3 {
        flex-basis: 30px;
    }
</style>
<div id="outerframe">
    @section HeaderSection{
        <div class="apptitem1">
            @{ Html.RenderPartial("_HeaderForPats", new PATSWebV2.ViewModels.Client.PersonSearchViewModel()); }
        </div>
    }
    <div class="apptitem2" style="overflow:hidden;padding-right:5px;padding-bottom:0px;width:100vw;min-width:1200px;">
        @section ContentBody{ @{Html.RenderAction("GetAppointmentManagement", "Appointment", new { ActiveTabIn = "dailyActivity" }); }}
    </div>
    @section FooterSection{
    <div class="apptitem3" >
        <Foot style="height:18px!important;padding:6px;">@Html.Partial("_Footer")</Foot>
    </div>
    }
</div>
<script>
    $(".k-dropdown").on('mouseover', function (obj) {
        if (obj.delegateTarget.children[1].id != undefined)
            $("#" + obj.delegateTarget.children[1].id).data("kendoDropDownList").open();
    })
</script>

